<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hair_beauty.partner">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MyServices" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".WelcomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginScreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".PageIndicator.Get_starting"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".PinCreateActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".PinLoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".OtpScreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ReferActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".AboutUsActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".SettingActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".MyServiceActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".NavigationDrawerActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".AddressSetActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service
            android:name=".notification.MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service android:name=".notification.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>